*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
.idea/*
!.idea/runConfigurations/
.idea/runConfigurations/*
!.idea/runConfigurations/*.xml
/.idea/runConfigurations/composeApp.xml
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
/tmp/

# Secrets
local.properties
secrets.properties

# Mapbox
**/Secrets.xcconfig
**/mapbox_access_token.xml

# Maestro
.maestro/tests
